@import "../../sass/Variables.scss";

.vehicle {
  width: 100%;
  background-color: $color-Neutral-800;
  border-radius: $border-Radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .vehicle-name {
    color: $color-Neutral-100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .vehicle-info {
    display: flex;
    flex-direction: column;
  }
}
