///// Index \\\\\

/////***** Color ***** \\\\\
///// Color Theme \\\\\
///// Color Theme - Tones\\\\\

/////***** Fonts ***** \\\\\
///// Fonts - Family \\\\\
///// Fonts - Sizes \\\\\
///// Fonts - Weight  \\\\\

/////***** Spacing *****\\\\\

/////***** Widths ******\\\\\\

/////***** Color ***** \\\\\

/////Color Theme\\\\\
$color-Primary: hsl(10, 100%, 50%);
$color-Accent: hsl(10, 100%, 50%);
$color-White: hsl(0, 0%, 100%);
$color-Black: hsl(0, 0%, 0%);
$color-Success: hsl(120, 100%, 30%);
$color-Warning: hsl(60, 100%, 40%);
$color-Error: hsl(359, 98%, 45%);

/////Color Theme - Tones\\\\\

$color-Primary-100: hsl(10, 100%, 70%);
$color-Primary-200: hsl(10, 100%, 65%);
$color-Primary-300: hsl(10, 100%, 60%);
$color-Primary-400: hsl(10, 100%, 55%);
$color-Primary-500: hsl(10, 100%, 50%);
$color-Primary-600: hsl(10, 100%, 45%);
$color-Primary-700: hsl(10, 100%, 40%);
$color-Primary-800: hsl(10, 100%, 35%);
$color-Primary-900: hsl(10, 100%, 30%);

$color-Accent-100: hsl(10, 100%, 70%);
$color-Accent-200: hsl(10, 100%, 65%);
$color-Accent-300: hsl(10, 100%, 60%);
$color-Accent-400: hsl(10, 100%, 55%);
$color-Accent-500: hsl(10, 100%, 50%);
$color-Accent-600: hsl(10, 100%, 45%);
$color-Accent-700: hsl(10, 100%, 40%);
$color-Accent-800: hsl(10, 100%, 35%);
$color-Accent-900: hsl(10, 100%, 30%);

$color-Neutral-50: hsl(0, 0%, 95%);
$color-Neutral-100: hsl(0, 0%, 85%);
$color-Neutral-200: hsl(0, 0%, 75%);
$color-Neutral-300: hsl(0, 0%, 65%);
$color-Neutral-400: hsl(0, 0%, 55%);
$color-Neutral-500: hsl(0, 0%, 45%);
$color-Neutral-600: hsl(0, 0%, 35%);
$color-Neutral-700: hsl(0, 0%, 25%);
$color-Neutral-800: hsl(0, 0%, 15%);
$color-Neutral-900: hsl(0, 0%, 5%);

$color-Grey-100: hsl(0, 0%, 65%);
$color-Grey-200: hsl(0, 0%, 60%);
$color-Grey-300: hsl(0, 0%, 55%);
$color-Grey-400: hsl(0, 0%, 50%);
$color-Grey-500: hsl(0, 0%, 45%);
$color-Grey-600: hsl(0, 0%, 40%);
$color-Grey-700: hsl(0, 0%, 35%);
$color-Grey-800: hsl(0, 0%, 30%);
$color-Grey-900: hsl(0, 0%, 25%);

$invisible: hsl(0, 0%, 0%);

$gradient: linear-gradient(
  0deg,
  hsla(0, 0%, 0%, 0.81) 0%,
  rgba(0, 0, 0, 0.6866947462578781) 35%,
  rgba(0, 0, 0, 0.5) 100%
);

/////***** Fonts ***** \\\\\
///// Fonts - Family \\\\\

$ff-Primary: "Montserrat", sans-serif;
$ff-Secondary: "Quicksand", sans-serif;

///// Insert in Public / index.html \\\\\
//////////////////////////////////////////////////////////////////////////////////////////////
// <link rel="preconnect" href="https://fonts.gstatic.com">
// <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
///////////////////////////////////////////////////////////////////////////////////////////////

///// Fonts - Sizes \\\\\
$fs-05: 0.5em;
$fs-08: 0.8em;
$fs-10: 1em;
$fs-11: 1.1em;
$fs-12: 1.2em;
$fs-13: 1.3em;
$fs-14: 1.4em;
$fs-15: 1.5em;
$fs-16: 1.6em;
$fs-18: 1.8em;
$fs-20: 2em;
$fs-24: 2.4em;
$fs-28: 2.8em;
$fs-32: 3.2em;
$fs-36: 3.6em;

///// Fonts - Weight  \\\\\

$fw-Light: 300;
$fw-Regular: 400;
$fw-Medium: 500;
$fw-Bold: 600;
$fw-Black: 700;

/////***** Spacing *****\\\\\

$spacing-xl: 10rem;
$spacing: 5rem;
$spacing-sm: 2.5rem;

//golden ratio = 100%, 62%, 38%, 23%, 14%, 9%, 6%, 4%, 2%, 1%, 0%

/////***** Widths ******\\\\\\
$max-phone-width: 86%;
$max-tablet-portrait-width: 86%;
$max-tablet-landscape-width: 62%;
$max-desktop-width: 62%;
$max-big-desktop-width: 62%;
$width-portrait: 86%;
$width-landscape: 62%;

// X Y spread/size blur color-opacity
$box-shadow-1: 5px 2px 1px 2px hsla(0, 0%, 0%, 0.1),
  6px 6px 5px 2px hsla(0, 0%, 0%, 0.15), 7px 10px 8px 2px hsla(0, 0%, 0%, 0.16),
  8px 15px 13px 2px hsla(0, 0%, 0%, 0.17),
  9px 30px 25px 2px hsla(0, 0%, 0%, 0.18),
  10px 50px 40px 2px hsla(0, 0%, 0%, 0.22);

$box-shadow-2: 10px 2px 1px 2px hsla(10, 0%, 0%, 0.1),
  12px 6px 5px 2px hsla(0, 0%, 0%, 0.15),
  14px 10px 8px 2px hsla(0, 0%, 0%, 0.16),
  16px 15px 13px 2px hsla(0, 0%, 0%, 0.17),
  18px 30px 25px 2px hsla(0, 0%, 0%, 0.18),
  20px 50px 40px 2px hsla(0, 0%, 0%, 0.22);

$form-outline: none !important;

$button-Padding: 0.5em 1.5em;
$button-Padding-Small: 0.25em, 0.75em;

$border-Radius: 0.5em;

$center-X: 0 auto;
