@import "../../sass/Variables.scss";

.vehicle-wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  .vehicle-generated_money {
    background-color: $color-Neutral-900;
    border-radius: $border-Radius;
    border: 1px solid $color-Accent;
    justify-content: center;
  }
}
