@import '../../sass/Variables.scss';



.vehicle-list {
    width: 100%;
    .vehicle-list_title {
        margin: 1rem auto;
        color: $color-Accent;
    }
    .vehicle-list_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .vehicle-list_item {
            color: wheat;
            .vehicle-card_header {
                display: flex;
                justify-content: space-around;
                height: 1.5em;
                border-bottom-left-radius: $border-Radius;
                border-top-left-radius: $border-Radius;
                background-color: $color-Neutral-700;
                .vehicle-card_title{
                    color: $color-Neutral-900;
                    background-color: $color-Neutral-100;
                }
                .vehicle-card_btn{
                    border: none;
                }
            }
        }
    }
}