@import "./sass/Variables.scss";

.App {
  background-color: $color-Neutral-900;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  color: $color-Neutral-100;
  font-size: $fs-16;
  width: 90%;
  .App-header {
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-Accent-900;
    .App-header_title {
      color: $color-Accent;
      margin-top: 1rem;
      text-align: center;
    }
  }
  .section-btns {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .btn-group {
      display: flex;
      flex-direction: column;
      width: clamp(70px, 180px, 250px);
      margin: 0 auto;
    }
    .btn-showSavedVehicles {
      background-color: $color-Accent;
      padding: 1em 3em;
      font-weight: $fw-Black;
      border: none;
      border-radius: $border-Radius;
      margin: 1em;
    }
    .btn-getExistingVehicles {
      background-color: $color-Accent;
      padding: 1em 3em;
      font-weight: $fw-Black;
      border: none;
      border-radius: $border-Radius;
      margin: 1em;
    }
    .btn-addNewVehicle {
      background-color: $color-Neutral-100;
      padding: 1em 3em;
      font-weight: $fw-Black;
      border: none;
      border-radius: $border-Radius;
      margin: 1em;
    }
  }
  .App-section {
    background-color: $color-Neutral-800;
    border-radius: $border-Radius;
    border: 1px solid $color-Neutral-700;
    width: 95%;
    margin: 2rem auto;
  }
}
