@import '../../../sass/Variables.scss';

.add_car-form {
    background-color: $color-Neutral-700;
    border-radius: $border-Radius;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
    .add_car-form_title {
        margin: 1em auto;
        padding-left: 1em;
        color: $color-Accent;
    }
    .add_car-fields-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        .add_car-form-submit_btn {
            background-color: $color-Accent;
            padding: 1em 3em;
            font-weight: $fw-Black;
            border: none;
            border-radius: $border-Radius;
            margin: 1em auto;
        }
    }
}